:host {
  flex: 2;
  //background: azure;
  //height: 100%;
  //width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  border-color: #00000014;
  border-style: solid;
  border-width: 1px;
}

#list {
  background: azure;
  height: 100%;
  width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

#list div:nth-child(even) {
  text-align: right;
}
