:host {
  width: 100%;
  display: flex;
  flex: 0 1 auto;
}

input {
  border: 0;
  flex: 1 1 auto;
  //background: none;
  padding-left: 10px;
  font-size: medium;
}

button {
  border: none;
  font-size: 22px;
  margin-left: 5px;
}
